.theme-container .navbar .logo {
    height: 1.6rem;
    margin-right: 1.2rem;
    vertical-align: middle;
}
.theme-container .navbar .site-name {
    color: #555;
    font-weight: 400;
    font-size: 16px;
}
nav.nav-links .nav-item {
    font-weight: 400
}
.sidebar-links > li > a {
    font-weight: 700
}
.sidebar-link.active {

}
h1, h2 {
    color: #1a47b8
}
.theme-default-content code {
    color: #1a47b8
}